@charset "utf-8"
/*! Libé Six Plus style based on bulma.io | MIT License | github.com/jgthms/bulma */

// Import Libé fonts
@import "https://statics.liberation.fr/newsite/css/fonts.css"

// Import Bulma initial variables
@import "node_modules/bulma/sass/utilities/initial-variables.sass"
@import "node_modules/bulma/sass/utilities/functions"

// Set Sixplus custom initial variables
$libe-pink: #e61e49
$libe-pink-invert: findColorInvert($libe-pink) !default
$family-sans-serif: "syntheselibeweb", "Helvetica Neue", "Helvetica", "Arial", sans-serif

// Import Bulma derived variables
// @import "node_modules/bulma/sass/utilities/derived-variables.sass"

// Set Sixplus custom derived variables
$family-primary: $family-sans-serif
$red: $libe-pink
$primary: $libe-pink
$primary-invert: $libe-pink-invert
$link: $libe-pink !default
$link-invert: $libe-pink-invert !default
$link-visited: $libe-pink !default
$link-focus-border: $libe-pink !default

// Import Libé fonts
@import "sass/libe-fonts.sass"

// Import Bulma
@import "sass/bulma-custom.sass"

// fix menu libé logo height
.menu-nav-libe-logo img
  height: 42px
// hide title-nav-container
.title-nav-container 
  display: none

// logo sixplus
.logoSixplus
  position: relative;width: 80px;height: 80px;margin: 0 auto;
.logoSixplus a
  position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-indent: -99999px; background: url('static/img/LOGO_SIXPLUS.svg') top left no-repeat;
.logoSixplus.logoWhite a
  background: url('static/img/LOGO_SIXPLUS_BLANC.svg') top left no-repeat;

// Overrides form elements based on material design
@import "sass/form.sass"